@font-face{
  font-family: Basic;
    src: url(Fira_Sans/FiraSans-Regular.ttf)
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
  font-family: Basic, Roboto, Verdana;
  }
  body{
  background-color: #D5846A;
  }
  .button {
    background-color: #B65742; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  div{
  border: 1.2px solid;
  border-radius: 12;
  text-align: center;	
  background-color: B65742; 
  }